.Vinyls {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: Vinyls-appear 1s ease-out forwards;
    display: flex;
  }
  
  .Vinyls ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .VinylsLoading {
    text-align: center;
    color: white;
  }
  
  .VinylsError {
    text-align: center;
    color: red;
  }

  @keyframes Vinyls-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  